<section class="about">
  <div class="container">
    <div class="about--text-wrap">
      <h1 class="about__title">-Найт-Сити изменит тебя навсегда!</h1>
      <p class="about__description">
        <span class="about__description--blue">Cyberpunk 2077</span>—
        пригодницька рольова гра, дія якої відбувається в мегаполісі Найт-Сіті,
        де влада, розкіш і модифікації тіла цінуються понад усе. Ти граєш за V,
        найманця, що шукає пристрій, який дозволить здобути безсмертя. Ти зможеш
        змінювати кіберімпланти, навички та стиль гри свого персонажа,
        досліджуючи відкритий світ, де твої дії впливають на розвиток сюжету та
        все, що тебе оточує.
      </p>
    </div>

    <div class="about__image-wrap">
      <img
        srcset="
          ../public/images/Rectangle62.jpg    300w,
          ../public/images/Rectangle62@2x.jpg 600w
        "
        sizes="(max-width: 320px) 300px, (min-width: 320px) 600px"
        alt="Нічне місто"
        class="about__image"
      />
      <img
        srcset="
          ../public/images/Rectangle63.jpg    300w,
          ../public/images/Rectangle63@2x.jpg 600w
        "
        sizes="(max-width: 320px) 300px, (min-width: 320px) 600px"
        alt="Нічне місто"
        class="about__image"
      />
      <img
        srcset="
          ../public/images/Rectangle61.jpg    300w,
          ../public/images/Rectangle61@2x.jpg 600w
        "
        sizes="(max-width: 320px) 300px, (min-width: 320px) 600px"
        alt="Нічне місто"
        class="about__image"
      />
    </div>
  </div>
</section>
